/* index.css */
.heading{
  text-align: center;
}
.signup {
  max-width: 300px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(43, 40, 40, 0.1);
  background-color: #222;
}

.input-username,
.input-password {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.submit_button {
  background-color: #004B49; /* Updated button background color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit_button :hover {
  background-color: #003732;
}

.alert {
  margin-top: 15px;
  padding: 10px;
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  border-radius: 4px;
  color: #3c763d;
}
